<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <partial name="_Favicons"/>
</head>
<body>
    <header class="navigation">
        <nav>
            <ul class="main-navigation">
                <li class="navigation-icons search-container">
                    <div class="menu-icon">
                        <a class="navigation-logo-link" onclick="openMenu()">
                            <img src="~/icons/menu-icon.svg" alt="menu icon">
                        </a>
                    </div>
                    <div class="desktop-link search">
                        <a class="navigation-logo-link" onclick="OpenSearch()">
                            <img src="~/icons/search-icon.svg" alt="search icon">
                            <span class="word search-word">Search</span>
                        </a>
                        <div id="search-overlay" class="search-area">
                            <div class="search-area-container">
                                <div class="search-items">
                                    <div class="search-close-button">
                                        <button class="close-button" type="button" onclick="CloseSearch()">
                                            <img src="~/icons/cross.svg" alt="cross icon">
                                        </button>
                                    </div>
                                    <div class="search-form-container">
                                        @* Need to add link to search result page *@
                                        <form asp-page="/Search" method="get"
                                              class="search-form">
                                            <input type="text" name="productName" id="productName"
                                                   placeholder="Search..." maxlength="20">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="transparent-section-of-search">
                                <button class="close-area-button" type="button" onclick="CloseSearch()">
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="title">
                    <a asp-page="/Index">
                        <h1>Stationery</h1>
                    </a>
                </li>

                <li class="navigation-icons">
                    <div class="desktop-link login-link">
                        @* Login / User profile page *@
                        <partial name="_LoginProfilePartial" />
                    </div>
                    <div class="desktop-link">
                        @* Link to Your bag page *@
                        <a asp-page="/YourBag" class="navigation-logo-link">
                            <img src="~/icons/shopping-bag-icon.svg" alt="shopping bag icon">
                            <span class="word">Your Bag</span>
                        </a>
                    </div>
                </li>
            </ul>

            <div id="product-menu-overlay" class="menu-overlay">
                <div class="menu-overlay-content">
                    <div class="menu-overlay-close-button">
                        <button class="close-button" type="button" onclick="closeMenu()">
                            <img src="~/icons/cross.svg" alt="cross icon">
                        </button>
                    </div>

                    <ul class="product-navigation">
                        <li class="login-link">
                            @* Login / User profile page *@
                            <partial name="_LoginProfilePartial" />
                        </li>
                        <li>
                            <a asp-page="/ProductsListPage"
                               asp-route-parentCategory="Paper-Products"
                               asp-route-childCategory="">Paper Products</a>
                        </li>
                        <li>
                            <a asp-page="/ProductsListPage"
                               asp-route-parentCategory="Writing-Instruments"
                               asp-route-childCategory="">Writing Instruments</a>
                        </li>
                        <li>
                            <a asp-page="/ProductsListPage"
                               asp-route-parentCategory="Desk-Accessories"
                               asp-route-childCategory="">Desk Accessories</a>
                        </li>
                        <li>
                            <a asp-page="/ProductsListPage"
                               asp-route-parentCategory="Art-Supplies"
                               asp-route-childCategory="">Art Supplies</a>
                        </li>
                        <li>
                            <a asp-page="/ProductsListPage"
                               asp-route-parentCategory="Office-Electronics"
                               asp-route-childCategory="">Office Electronics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <section>
            <div class="container">
                <ul>
                    <li class="heading">Contact</li>
                    <li>
                        @* Link to contact us page *@
                        <a asp-page="/ContactUs">Contact Us</a>
                    </li>
                </ul>
                <ul>
                    <li class="heading">Company</li>
                    <li>
                        @* Link to About us page *@
                        <a asp-page="/AboutUs">About Us</a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
