@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor; 

@{
    string? userName = HttpContextAccessor.HttpContext?.User.FindFirst("FullName")?.Value;

    bool isAuthenticated = HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated ?? false; 

}


@if(isAuthenticated)
{
    <!-- link to user details page-->
    <a asp-page="/Account/UserDetails" class="navigation-logo-link">
        <img src="~/icons/user-icon.svg" alt="user account icon">
        <span class="word">@(userName is null ? "User": userName)</span>
    </a>
}
else
{
    <a asp-page="/Account/Login" class="navigation-logo-link">
        <img src="~/icons/user-icon.svg" alt="user account icon">
        <span class="word">Login</span>
    </a>
}

