@{
    Layout = "_Layout";
}

<article class="profile-navigation-layout">
    <section class="profile-navigation-layout-section">
        <div class="navigation-content-container">
            <div class="navigation-container">
                @* Add links to navigation *@
                <a href="#" class="navigation-link">User Details</a>
                <a href="#" class="navigation-logo">Orders</a>
            </div>
            <div class="content-container">
                @RenderBody()
            </div>
        </div>

        <div class="logout-container">
            @* Add link to logout *@
            <a href="#" class="logout-link">Logout</a>
        </div>
    </section>
</article>







