@{
    Layout = "_Layout";
}

<article class="profile-navigation-layout">
    <section class="profile-navigation-layout-section">
        <div class="navigation-content-container">
            <div class="navigation-container">
                @* links to user details navigation *@
                <a asp-page="/Account/UserDetails" class="navigation-link">User Details</a>
                <a asp-page="/Account/Orders" class="navigation-link">Orders</a>
                <a asp-page="/Account/EditProfile" class="navigation-link">Edit Profile</a>
                <a asp-page="/Account/DeleteAccount" class="navigation-link">Delete Account</a>
            </div>
            <div class="content-container">
                @RenderBody()
            </div>
        </div>

        <div class="logout-container">
            @* Link to logout *@
            <form asp-page="/Account/Logout">
                <button type="submit" class="log-out-button black-button">Logout</button>
            </form>
        </div>
    </section>
</article>







