@page
@model StationeryAndSuppliesWebApp.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied"; 
}

<article class="access-denied-page">
    <section class="access-denied-section">
        <header class="title">Access denied</header>
        <p class="explanation">You currentry do not have access to this page.</p>
    </section>
</article>