@page
@model StationeryAndSuppliesWebApp.Pages.Account.CreateAccountModel
@{
    ViewData["Title"] = "Create Account"; 
}

<article class="create-account-page">
    <section class="create-account-section">
        <div class="create-account-container">
            <header class="title">Create Account</header>
            @if (Model.ValidationMessage is not null)
            {
                <div class="validation-message">@Model.ValidationMessage</div>
            }
            <form method="post">
                <div class="form-group input-container">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Phone">Phone (Optional)</label>
                    <input asp-for="Input.Phone" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Repeat_Password">Repeat Password</label>
                    <input asp-for="Input.Repeat_Password" />
                </div>
                <div class="form-group login-create-account-container">
                    <a asp-page="/Account/Login" class="login-link">Log in</a>
                    <button type="submit" class="create-account-button">Create Account</button>
                </div>
            </form>
        </div>
    </section>
</article>
