@page
@model StationeryAndSuppliesWebApp.Pages.Account.EditProfileModel
@{
    Layout = "_ProfileNavigationLayout";
    ViewData["Title"] = "Edit Profile"; 
}


<section class="edit-profile-section">
    <div class="edit-profile-container">
        <header class="title">Edit Profile</header>
        @if (Model.ValidationMessage is not null)
        {
            <div class="validation-message">@Model.ValidationMessage</div>
        }
        <form method="post">
            <div class="form-group input-container">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" />
            </div>
            <div class="form-group input-container">
                <label asp-for="Input.Phone">Phone (Optional)</label>
                <input asp-for="Input.Phone" />
            </div>
            <div class="form-group save-profile-container">
                <button type="submit" class="save-profile-button black-button">Save</button>
            </div>
        </form>
    </div>
</section>

