@page
@model StationeryAndSuppliesWebApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "LogIn";

    string retrunUrl = Model.ReturnUrl ?? "/"; 
}

<article class="login-page">
    <section class="login-section">
        <header>Login</header>
        @if(Model.ValidationMessage is not null)
        {
            <div>@Model.ValidationMessage</div>
        }
        <form method="post">
            <input asp-for="ReturnUrl" type="hidden" value="@retrunUrl"/>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" />
            </div>
            <div>
                @* Need to add link to forgot password page *@
                <a href="#">Forgot password</a>
            </div>
            <div>
                @* Need to add link to Create account page *@
                <a href="#">Create Account</a>
                <button type="submit">Log in</button>
            </div>
        </form>
    </section>
</article>