@page
@model StationeryAndSuppliesWebApp.Pages.Account.LogoutModel
@{
    Layout = "_ProfileNavigationLayout";
    ViewData["Title"] = "Logout"; 
}

<section class="log-out-section">
    <div>Your have been logged out</div>
</section>


