@page
@model StationeryAndSuppliesWebApp.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password"; 
}

<article class="reset-password-page">
    <section class="reset-password-section">
        <div class="reset-password-container">
            <header class="title">Reset Password</header>
            @if(Model.ValidationMessage is not null)
            {
                <div class="validation-message">@Model.ValidationMessage</div>
            }
            <form method="post">
                <div class="form-group input-container">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" />
                </div>
                <div class="form-group input-container">
                    <label asp-for="Input.Repeat_Password">Repeat Password</label>
                    <input asp-for="Input.Repeat_Password" />
                </div>
                <div class="form-group save-button-container ">
                    <button type="submit" class="save-button black-button">Save</button>
                </div>
            </form>
        </div>
    </section>
</article>
