@page
@model StationeryAndSuppliesWebApp.Pages.Account.UserDetailsModel
@{
    Layout = "_ProfileNavigationLayout"; 
    ViewData["Title"] = "User Details"; 
}

<section class="user-details-section">
    <div>Name : </div>
    <div>Email: </div>
</section>
