@page
@model StationeryAndSuppliesWebApp.Pages.Account.UserDetailsModel
@{
    Layout = "_ProfileNavigationLayout"; 
    ViewData["Title"] = "User Details"; 
}

<section class="user-details-section">
    @if(Model.UserDetails is null)
    {
        <div class="failed-to-load-user-details">Unable to load use Details, Please try again later.</div>
    }
    else
    {
        <header class="title">User Details</header>
        <div class="user-details-table-container">
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.UserDetails.UserName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.UserDetails.Email</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>@Model.UserDetails.Phone</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</section>
