@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us"; 
}


<article class="about-us-page">
    <section class="about-us-section">
        <header class="about-us-title">About Us</header>
        <p class="about-us-paragraph">
            Hello, Welcome to my small stationery e-shop, this is one of my project made to demonstrate my skills as a 
            ASP .NET Web Developer. If you like to contact me visit <a asp-page="/ContactUs">Contact Page</a>.
        </p>
    </section>
</article>
