@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us"; 
}


<article class="contact-us-page">
    <section class="contact-us-Section">
        <header class="contact-us-title">Contact Us</header>
        <div class="email-container">
            <div class="email-title">Email</div>
            <div class="email">maninder123450@gmail.com</div>
        </div>
        <div class="external-links-container">
            <div class="external-link">
                <a href="https://github.com/maninder56" target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
            <div class="external-link">
                <a href="https://www.linkedin.com/in/manindersingh55" target="_blank" rel="noopener noreferrer">Linked In</a>
            </div>
        </div>
    </section>
</article>








