@page
@model StationeryAndSuppliesWebApp.Pages.ErrorModel
@{
    ViewData["Title"] = "Error"; 
}

<article class="error-page">
    <section class="error-page-section">
        <header class="title">Error</header>
        <p class="explanation">Error Occured while processing you Request, Please Try Again</p>
    </section>
</article>
