@page
@model IndexModel
@{
    ViewData["Title"] = "Stationery";
}

<article class="home-page">
    <section class="first-categories-section">
        <div class="product-categories-container">
            <div class="product-category">
                @* Add links to each <a> tag, pointing to their respective pages. *@
                @foreach(var category in Model.ChildCategoriesListInFirstSection)
                {
                    <a href="#">
                        <img src="~/@category.ImageUrl" alt="@category.Name image"/>
                    </a>
                    <div class="category-name">@category.Name</div>
                }
            </div>
       </div>
    </section>
</article>
