@page
@model StationeryAndSuppliesWebApp.Pages.MissingPageModel
@{
    ViewData["Title"] = "Missing Page"; 
}

<article class="missing-page">
    <section class="missing-page-section">
        <header class="title">Page Missing</header>
        <p class="explanation">Sorry, We can not find the page you are looking for.</p>
    </section>
</article>