@page "{parentCategory}/{childCategory?}"
@model ProductsListPageModel

@{
    ViewData["Title"] = "Products";
}

<article class="product-list-page">
    <section class="section-container">
        <div>
            <div class="category-title">
                <header>@Model.CategoryName</header>
            </div>
            <div class="order-by-contaienr">
                <header>Order By : </header>
                <div>Drop down</div>
            </div>
        </div>
        <div class="product-list-contaienr">
            <div class="product-list">
                @foreach(var product in Model.ProductList)
                {
                    <div class="product-container">
                        <a href="#" class="product-link">
                            <img src="~/@product.ImageUrl" alt="@product.Name image" />
                        </a>
                        <div class="product-details-container">
                            <div>
                                <div class="product-name">@product.Name</div>
                                <div class="product-price">@product.Price?.ToString("C")</div>
                            </div>
                            @if(!product.InStock)
                            {
                                <div class="out-of-stock">Out of Stock</div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</article>