@page "{parentCategory}/{childCategory?}"
@model ProductsListPageModel

@{
    ViewData["Title"] = "Products";
}

<article class="product-list-page">
    <section class="section-container">
        <div class="category-title-and-orderby-section">
            <div class="category-title">@Model.CategoryName</div>
            <div class="order-by-contaienr">
                <header>Order By : </header>
                <div class="drop-down">Drop down</div>
            </div>
        </div>

        <div class="product-list-contaienr">
            <div class="product-list">
                @foreach(var product in Model.ProductList)
                {
                    <div class="product-container">
                        <div class="product-link-container">
                            <a href="#" class="product-link">
                                <img src="~/@product.ImageUrl" alt="@product.Name image" />
                            </a>
                        </div>
                        <div class="product-details-container">
                            <div class="product-details">
                                <div class="product-name">@product.Name</div>
                                <div class="product-price">@product.Price?.ToString("C")</div>
                            </div>
                            @if(!product.InStock)
                            {
                                <div class="out-of-stock">Out of Stock</div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="page-navigation-container">
            <div class="page-navigatoin-section">
                <div class="page-navigatoin">
                    <a href="#" class="navigation-button">
                        <img src="~/icons/left-arrow.svg" alt="left arrow" />
                    </a>
                    <div class="page-number-container">
                        <div class="page-number">
                            Page Number
                        </div>
                    </div>
                    <a href="#" class="navigation-button">
                        <img src="~/icons/right-arrow.svg" alt="right arrow" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</article>