@page "{productname?}/{productid:int}"
@model SingleProductPageModel

@{
    ViewData["Title"] = "Product";
}


<article class="single-product-page">
    <section class="section-container">
        @if(Model.Product is null)
        {
            @*need to test it*@
            <div>Missing product</div>
        }
        else
        {
            <div class="product-image-container">
                <img src="~/@Model.Product.ImageUrl" />
            </div>
            <div class="product-details">
                <div class="product-details-column">
                    <div>@Model.Product.Name</div>
                    <div>@Model.Product.Price</div>
                    <div>
                        @if(!Model.Product.InStock)
                        {
                            <div>Out of Stock</div>
                        }
                    </div>
                    <div>
                        <div>About Product</div>
                        <div>@Model.Product.Description</div>
                    </div>
                    <div>
                        <div>Quantity: </div>
                        <div>Drop down up to 10</div>
                    </div>
                    <div>
                        <form action="#" method="get">
                            <input value="@Model.Product.Id" hidden />
                            <button type="submit">Add to Bag</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </section>
</article>