@page
@model YourBagModel
@{
    ViewData["Title"] = "Your Bag"; 
}

<article class="your-bag-page">
    <section class="your-bag-section">
        <div style="font-size:xx-large; color:darkblue">Your Bag yo</div>
    </section>
</article>