:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    --primary-background-color-cream: #f5f5dc;
    --primary-background-color-light-yellow: #f6ffd4;
    --primary-background-color-dark-green: #6ca46c;
    --navigation-background-color: white;
    --primary-text-color: black;
    --footer-text-color: #e0e0e0;
    --footer-text-hover-color: white;
    --link-hover-text-color: rgb(73, 73, 73);
    --button-hover-background-color: #ebf1bd;
    --button-active-background-color: #d4d9ab;
    --button-background-color: #f5f5dc;
    --out-of-stock-text-color: orangered;
    --product-card-background-color: white;
    --add-to-bag-button-color: black;
    --add-to-bag-hover-button-color: #3a3a3a;
    --add-to-bag-active-button-color: #7a7a7a;

    transition: font-size 0.5s ease-in-out;
}


@media (min-width: 500px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}


@media (min-width: 500px) {
}

@media (min-width: 800px) {
}

@media (min-width: 1000px) {
}

body {
    margin: 0px 0px;
    padding: 0px;
}

/* To make the footer stick to the bottom */
html, 
body {
    height: 100%; 
}

body {
    display: flex; 
    flex-direction: column; 
}

main {
    flex: 1 0 auto; 
}

footer {
    flex: 0 0 auto; 
}





/* Navigation */
.navigation {
    margin: 0;
    padding: 10px;
    background-color: var(--navigation-background-color);
}

    .navigation nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* Main navigation */
.main-navigation {
    list-style-type: none;
    padding: 0;
    margin: 1px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

    .main-navigation .navigation-icons {
        display: flex;
        flex: 0 1 auto;
    }

    /* Main Title */
    .main-navigation .title {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
    }

        .main-navigation .title a {
            display: inline-block;
            text-decoration: none;
            color: var(--primary-text-color);
        }

            .main-navigation .title a:hover {
                color: var(--link-hover-text-color);
            }

            .main-navigation .title a:active {
                color: var(--primary-text-color);
            }

            .main-navigation .title a h1 {
                margin: 0;
            }


    /* Main Navigation links */
    .main-navigation .menu-icon,
    .main-navigation .desktop-link {
        margin: 0px 4px;
        transition: margin 0.5s ease-in;
    }

    .main-navigation .navigation-logo-link {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-text-color);
    }

    .main-navigation .navigation-logo-link {
        cursor: pointer;
    }

.navigation-logo-link img {
    width: 20px;
    transition: width 0.5s ease-in;
}

.main-navigation .desktop-link .word {
    display: none;
}



/* Search Overlay */

.main-navigation .search-area {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: var(--navigation-background-color);
    overflow-y: hidden;
    transition: height 0.1s ease-in;
}

.search-area .search-area-container {
    display: flex;
    justify-content: center;
}

.search-area .search-items {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Search close button syles */
.search-items .search-close-button {
    width: 100%;
    display: flex;
    justify-content: end;
}

.search-close-button .close-button {
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--navigation-background-color);
    cursor: pointer;
    font-size: 1rem;
}

    .search-close-button .close-button img {
        width: 70px;
    }



.search-area .search-items .close-button:hover {
    background-color: var(--button-hover-background-color);
}

.search-area .search-items .close-button:active {
    background-color: var(--button-active-background-color);
}


/* Search form styles */
.search-items .search-form-container {
    width: 100%;
}

.search-form-container .search-form {
    display: flex;
    width: 100%;
}

    .search-form-container .search-form input {
        display: block;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        border: none;
        border-bottom: solid;
        font-size: 1.6rem;
        padding: 0px 10px;
        margin: 10px;
        background-color: var(--primary-background-color-cream);
    }



@media (min-width: 300px) {

    .main-navigation .desktop-link,
    .main-navigation .menu-icon {
        margin: 0px 10px;
    }

    .navigation-logo-link img {
        width: 25px;
    }
}

@media (min-width: 500px) {
    .main-navigation .title a {
        padding: 5px;
    }

    .navigation-logo-link img {
        width: 30px;
    }
}

@media (min-width: 800px) {
    /* Hide mobile version of navigation */
    .menu-icon {
        display: none;
    }

    .main-navigation .search-container {
        flex: 1 0 auto;
    }

    .main-navigation .desktop-link a {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        border-radius: 10px;
    }

    .main-navigation .desktop-link .word {
        display: block;
        margin: 5px;
    }

    .main-navigation .search a {
        background-color: var(--primary-background-color-cream);
    }

    .main-navigation .desktop-link .search-word {
        color: var(--link-hover-text-color);
    }

        .main-navigation .desktop-link .search-word:hover {
            color: var(--primary-text-color);
        }


    .main-navigation .desktop-link a:hover {
        background-color: var(--button-hover-background-color);
    }

    .main-navigation .desktop-link a:active {
        background-color: var(--button-active-background-color);
    }
}


@media (min-width: 1000px) {

    .main-navigation {
        max-width: 1000px;
    }

        .main-navigation .search-area .search-items {
            max-width: 1000px;
        }
}





/* Product Navigation */

/* For small screen */

@media (max-width: 800px) {
    .product-navigation {
        font-size: 1.5rem;
    }
}

/* Menu Overlay */
.menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary-background-color-cream);
    overflow-x: hidden;
}

.menu-overlay-content {
    display: flex;
    flex-direction: column;
}

.menu-overlay-close-button {
    display: flex;
    justify-content: end;
}

    .menu-overlay-close-button .close-button {
        display: block;
        margin: 20px;
        padding: 5px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: var(--primary-background-color-cream);
    }

        .menu-overlay-close-button .close-button img {
            width: 70px;
        }


        .menu-overlay-close-button .close-button:hover {
            background-color: var(--button-hover-background-color);
        }

        .menu-overlay-close-button .close-button:active {
            background-color: var(--button-active-background-color);
        }


.product-navigation {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

    .product-navigation li {
        margin: 20px;
    }

        .product-navigation li a {
            text-decoration: none;
            color: var(--primary-text-color);
        }

            .product-navigation li a:hover {
                color: var(--link-hover-text-color);
            }

            .product-navigation li a:active {
                color: var(--primary-text-color);
            }


/* For Big Screen */
@media (min-width: 800px) {

    .menu-overlay {
        height: auto;
        width: 100%;
        position: relative;
        z-index: 0;
        background-color: var(--navigation-background-color);
        margin: 20px;
    }

    .menu-overlay-content {
        display: block;
        padding: 0;
        width: 100%;
    }

    .menu-overlay-close-button .close-button {
        display: none;
    }

    .product-navigation {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        width: 100%;
    }

        .product-navigation li {
            margin: 0;
        }

        .product-navigation .login {
            display: none;
        }
}

@media (min-width: 1000px) {

    .menu-overlay {
        max-width: 1000px;
    }
}






/* Footer */

footer {
    background-color: #06402B; 
    margin: 0px;
    padding: 10px;
}

    footer section {
        display: flex;
        justify-content: center;
    }

    footer .container {
        flex: 1 0 auto;
        max-width: 800px; 
        display: flex; 
        justify-content: space-around; 
    }

    footer ul {
        padding: 0px; 
        list-style-type: none; 
    }

    footer ul li {
        text-align: center; 
    }

        footer ul .heading {
            font-size: 1.2rem; 
            color: var(--footer-text-color); 
        }

        footer ul li a {
            display: inline-block;
            margin: 5px;
            padding: 5px;
            color: var(--footer-text-color);
            text-decoration-line: none;
        }

            footer ul li a:hover {
                text-decoration-line: underline;
                color: var(--footer-text-hover-color);
            }















/* Home page */

.home-page {
    margin-top: 20px;
    height: 100%;
}

/* First section for categories */

.first-categories-section {
    background-color: var(--primary-background-color-cream);
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center; 
}

    /* Scroll buttons for category cards */
    .first-categories-section .scroll-button-container {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .first-categories-section .scroll-button {
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 10px;
        background-color: var(--button-background-color);
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

        .first-categories-section .scroll-button img {
            width: inherit;
            margin: 0px;
            padding: 0px;
            object-fit: contain;
        }



    /* Category cards */
    .first-categories-section .product-categories-container {
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
/*        flex-wrap: nowrap;*/
        overflow-x: auto;
        scroll-behavior: smooth;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        max-width: 1000px; 
    }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .first-categories-section .product-categories-container::-webkit-scrollbar {
            display: none;
        }

    .first-categories-section .product-category {
        flex: 0 0 auto;
        margin: 20px 5px;
    }

    .first-categories-section .category-link {
        width: 20vw;
    }

        .first-categories-section .category-link img {
            width: inherit;
            height: 80%;
            min-width: 200px;
            max-width: 400px;
            object-fit: cover;
            border-radius: 2px;
            border-radius: 20px;
        }

    .first-categories-section .category-name {
        text-align: center;
        font-size: 1.6rem;
        margin: 10px 0px;
    }


@media (min-width: 800px) {

    .first-categories-section .category-link {
        width: 30vw;
    }
}





/* Second section for categories */

.second-categories-section {
    padding: 40px 0px;
    display: flex; 
    justify-content: center;  
}

.second-categories-section .section-container {
    flex: 1 0 auto; 
    max-width: 1000px; 
}

    .second-categories-section .product-categories-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 30px;
        margin: 10px;
    }


    .second-categories-section .product-category {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .second-categories-section .category-link-image {
        display: flex;
        justify-content: center;
    }

    .second-categories-section .category-link {
        display: flex;
        justify-content: center;
    }


    .second-categories-section img {
        width: 150px;
        height: 150px;
        max-height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

    .second-categories-section .category-name {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 5px; 
    }




/* Third section of hope page */

.third-product-section {
    background-color: var(--primary-background-color-cream);
    padding: 20px 0px;
    margin-bottom: 0px; 
    display: flex;
    justify-content: center;
}

.third-product-section .section-container {
    flex: 1 0 auto; 
    max-width: 1000px; 
}

    .third-product-section .products-container {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 30px;
    }

    .third-product-section .product {
    }

    .third-product-section .product-link-and-image {
        display: flex;
        justify-content: center;
    }

    .third-product-section .product-link {
        display: block;
        width: 150px;
        height: 150px;
    }


    .third-product-section img {
        width: inherit;
        widows: inherit;
        object-fit: cover;
        border-radius: 20px;
    }

    .third-product-section .product-details-container {
        display: flex;
        justify-content: center;
    }

    .third-product-section .product-name-and-price {
        display: flex;
        justify-content: space-between;
        margin: 5px 5px;
        width: 150px;
    }

    .third-product-section .product-name {
        margin-right: 5px;
    }





/* Product List page */

.product-list-page {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color-cream);
}

    .product-list-page .section-container {
        flex: 1 1 auto; 
        max-width: 800px; 
        margin: 40px 0px; 
    }

    .product-list-page .category-title-and-orderby-section {
        margin: 10px 20px; 
    }

    .product-list-page .category-title {
        font-size: 1.5rem; 
        margin: 5px; 
    }


    .product-list-page .order-by-container {
        display:flex;  
        justify-content: end; 
        margin: 5px; 
        padding: 5px; 
    }

        .product-list-page .order-by-container .order-by-title {
            display:flex; 
            flex-direction:column; 
            justify-content: center; 
            align-content: center; 
        }

        .product-list-page .order-by-container .order-by-title header {
            flex: 0 0 auto; 
            display: inline-block;
            text-align: center;
        }

        .product-list-page .order-by-container .drop-down {
            display:flex; 
            flex-direction: column; 
            align-content: center; 
            justify-content: center; 
        }

        .product-list-page .order-by-container .drop-down form {
            
        }

        .product-list-page .order-by-container .order-by-drop-down-select {
            font-size: 1rem;
            background-color: var(--primary-background-color-cream);
            border: none;
            border-radius: 5px;
            padding: 5px 2px; 
            cursor: pointer; 
        }

        .product-list-page .order-by-container .order-by-drop-down-select:hover {
            background-color: var(--button-hover-background-color);
        }
            .product-list-page .order-by-container .order-by-drop-down-select:active {
                background-color: var(--button-active-background-color);
            }





/* Product list container */

.product-list-page .product-list-contaienr {
    margin: 10px;
       
}

    .product-list-page .product-list {
        margin: 10px; 
        padding: 10px; 
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
        grid-gap: 20px; 
    }

    .product-list-page .product-container {
        margin: 5px; 
        background-color: var(--product-card-background-color); 
        display: flex; 
        flex-direction: column; 
        border-radius: 10px;
        padding: 5px; 
    }

    

    .product-list-page .product-link-container {
        display: flex; 
        justify-content: center; 
    }

    .product-list-page .product-link {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-list-page .image-container {
        display: flex;
        justify-content: center;
    }

    .product-list-page img {
        width: 100%;
        max-height: 150px;
        max-width: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-list-page .product-details-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-list-page .product-details-container {
        margin-top: 10px; 
    }


.product-list-page .product-details {
    display: flex; 
    justify-content: center; 
    
}

.product-list-page .product-name {
    margin-right: 10px; 
}

    .product-list-page .out-of-stock {
        text-align: center; 
        margin: 5px; 
        font-size: 1.1rem; 
        font-weight: 550; 
        color: var(--out-of-stock-text-color); 
    }


@media (min-width: 500px) {

    .product-list-page .product-name,
    .product-list-page .product-price-container,
    .product-list-page .out-of-stock {
        font-size: 0.9rem;
    }

    
}

/* page navigation buttons */

.product-list-page .page-navigation-container {
    display: flex; 
    justify-content: center; 
}

.product-list-page .page-navigatoin-section {
    flex: 1 1 auto; 
    max-width: 400px; 
}

.product-list-page .page-navigatoin {
    display: flex; 
    justify-content: center;
    align-content: center; 
}


.product-list-page .page-number-container {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: center; 
}


.product-list-page .page-number {
    margin: 5px; 
    text-align:center; 
}

.product-list-page .navigation-button {
    margin: 10px;
    padding: 0px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    background-color: var(--button-background-color);
    border-radius: 5px;
    border: 1px solid black;
    display: flex; 
    justify-content: center; 
    align-content: center; 
}

    .product-list-page .navigation-button img {
        width: 35px; 
        height: 20px; 
        margin: 4px 0px;
        padding: 0px;
        object-fit: contain;
    }

.product-list-page .navigation-button:hover {
    background-color: var(--button-hover-background-color)
}

.product-list-page .navigation-button:active {
    background-color: var(--button-active-background-color)
}









/* Singel product page */


.single-product-page {
    height: 100%; 
    background-color: var(--primary-background-color-cream); 
    display: flex; 
    justify-content: center; 
}

    .single-product-page .section-container {
        flex: 1 1 auto;  
        margin: 20px 0px; 
        max-width: 800px;
        display: flex; 
        flex-direction: column;
    }


    .single-product-page .product-image-container {
        display: flex; 
        justify-content: center;
    }

        .single-product-page .product-image-container img {
            flex: 1 1 auto; 
            width: 100%; 
            max-width: 300px; 
            border-radius: 20px; 
        }

    .single-product-page .product-details-container {
        display: flex; 
        justify-content: center; 
    }

    .single-product-page .product-details {
        flex: 1 1 auto;
        padding: 5px;
        max-width: 400px;
    }

    .single-product-page .product-details-column {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column
    }

    .single-product-page .product-name {
        text-align: center; 
        font-size: 1.6rem; 
        margin: 10px 0px; 
    }

    .single-product-page .product-price-container {
        font-size: 1.2rem;
        margin: 5px 0px 5px 10px; 
    }

    .single-product-page .out-of-stock {
        text-align: center;
        margin: 5px;
        font-size: 1.1rem;
        font-weight: 550;
        color: var(--out-of-stock-text-color);
    }

    .single-product-page .product-description {
        margin: 10px;
    }

    .single-product-page .product-description .title {
        font-size: 1.3rem; 
    }

    .single-product-page .drop-down {
        display: flex; 
        justify-content: start; 
        margin: 10px; 
    }

    .single-product-page .drop-down .title {
        font-size: 1.2rem; 
        margin-right: 10px; 
    }

        .single-product-page .drop-down .quantity-drop-down-select {
            font-size: 1rem;
            background-color: var(--primary-background-color-cream);
            border: solid 1px;
            border-radius: 5px;
            cursor: pointer;
            text-align:center; 
            width: 80px; 
        }

            .single-product-page .drop-down .quantity-drop-down-select:hover {
                background-color: var(--button-hover-background-color);
            }

            .single-product-page .drop-down .quantity-drop-down-select:active {
                background-color: var(--button-active-background-color);
            }

    .single-product-page .add-to-bag {
        display: flex; 
        justify-content: center; 
        margin-top: 30px; 
    }

        .single-product-page .add-to-bag form {
            
        }

            .single-product-page .add-to-bag form button {
                border: none;
                background-color: var(--add-to-bag-button-color);
                color: white; 
                cursor: pointer;
                font-size: 1.2rem;
                width: 200px;
                height: 50px;
                border-radius: 10px; 
            }

                .single-product-page .add-to-bag form button:hover {
                    background-color: var(--add-to-bag-hover-button-color);
                }

                .single-product-page .add-to-bag form button:active {
                    background-color: var(--add-to-bag-active-button-color);
                }



/* Desktop view */
@media (min-width: 800px) {

    .single-product-page .section-container {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;
    }

    .single-product-page .product-image-container {
        flex-direction: column; 
        justify-content: start; 
    }

        .single-product-page .product-image-container img {
            flex: 0 1 auto;
        }

    .single-product-page .product-details {
        margin-left: 20px; 
    }
}






/* Search result page */

.search-result-page {
    height: 100%;
    background-color: var(--primary-background-color-cream);
    display: flex;
    justify-content: center;
}

    .search-result-page .search-result-section {
        flex: 1 1 auto;
        margin: 20px 0px;
        max-width: 800px;
    }

    .search-result-page .searched-for {
        font-size: 1.5rem; 
        margin: 10px; 
    }


    .search-result-page .search-products-continer {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
    }

    .search-result-page .product-container {
        margin: 5px;
        background-color: var(--product-card-background-color);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 5px;
    }


    .search-result-page .product-link-container {
        display: flex;
        justify-content: center;
    }

    .search-result-page .product-link {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }

    .search-result-page .image-container {
        display: flex; 
        justify-content: center; 
    }

    .search-result-page img {
        width: 100%;
        max-height: 150px; 
        max-width: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .search-result-page .product-details-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .search-result-page .product-details-container {
        margin-top: 10px;
    }

    .search-result-page .product-details {
        display: flex;
        justify-content: center;
    }

    .search-result-page .product-name {
        margin-right: 10px;
    }

    .search-result-page .out-of-stock {
        text-align: center;
        margin: 5px;
        font-size: 1.1rem;
        font-weight: 550;
        color: var(--out-of-stock-text-color);
    }


@media (min-width: 500px) {

    .search-result-page .product-name,
    .search-result-page .product-price-container,
    .search-result-page .out-of-stock {
        font-size: 0.9rem;
    }
}





/*body * {
    border: solid 1px;
}
*/







